/* app css stylesheet */

.select-header {
  padding: 0px;
  display: inline;
}

div.selections {
  margin: 10px 30px -5px 30px;
  padding: 0px 10px;
  float: left;
  border: 1px solid LightSkyBlue;
  background-color: LightSkyBlue;
  border-radius: 5px;
  -moz-border-radius: 5px;
}

div.score-board {
  clear: both;
}

.score-board-table {
  border: none;
  background: LightSkyBlue;
  border-radius: 5px;
  -moz-border-radius: 5px;
  padding: 3px;
}

/* Must be important to override foundation.css. */
.player-name {
  margin: 0px !important;
  background-color: SpringGreen !important;
}

.score-field {
  width: 50px;
  text-align: center;
}

.score-cell,
.heading,
.total-score {
  text-align: center;
  border: none;
  padding: 0px 10px;
  background-color: LightSkyBlue;
}

.heading {
  background-color: Gainsboro;
 }

.player-name-cell {
  background-color: LightSkyBlue;
}

.add-player-button {
  margin-left: 20px;
  padding: 5px 8px;
}

.remove-player-button {
  background-color: IndianRed;
  padding: 3px 3px;

}

.remove-player-button:hover {
  background-color: Crimson;
}

.add-player-row {
  background-color: LightSkyBlue;
  text-align: center;
  padding-top: 0px;
}

.add-player-div,
.remove-player-div {
  height: 20px;
  margin-bottom: 5px;
}
