/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;


}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.select-header {
  padding: 0px;
  display: inline;
}

div.selections {
  margin: 10px 30px 10px 30px;
  padding: 0px 10px;
  float: left;
  border: 1px solid Gainsboro;
}

div.score-board {
  clear: both;
  margin: 10px 10px;
}

.score-board-table {
  border: 1px solid black;
}

/* Must be important to override foundation.css. */
.player-name {
  margin: 0px !important;
  background-color: SpringGreen !important;
}

.score-field {
  width: 50px;
  text-align: center;
}

.score-cell,
.heading,
.total-score {
  text-align: center;
  border: 1px solid black;
  background-color: LightSkyBlue;
}

.heading {
  background-color: Gainsboro;
 }

.player-name-cell {
  background-color: LightSkyBlue;
}

.add-player-button {
  margin-left: 20px;
}

.remove-player-button {
  background-color: IndianRed;
}

.remove-player-button:hover {
  background-color: Crimson;
}

.add-player-row {
  background-color: LightSkyBlue;
}

.add-player-div,
.remove-player-div {
  height: 40px;
}
