<!doctype html>
<html lang="en" ng-app="BgScoreTally">
<head>
  <meta charset="utf-8">
  <title>Boardgame Score Tally</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/foundation/foundation.min.css"/>
  <link rel="stylesheet" href="lib/foundation/foundation_icons_all/foundation_icons_general/stylesheets/general_foundicons.css"/>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body ng-controller="SelectionCtrl">
  <div>
    <div class="selections">
      <p class="select-header">Game:</p>
      <select id="game_select" ng-model="selected.game" ng-init="selected.game=-1" ng-change="reset()">
        <!-- Not using ng-options because for some reason it doesn't set the ng-model if I do. -->
        <option ng-repeat="game in selections.games" value="{{$index}}">{{game.label}}</option>
     </select>
    </div>
    <div class="selections">
      <p class="select-header">Num. of Players:</p>
      <select id="num_players_select" ng-model="selected.numPlayers"
              ng-options="i for i in selections.numPlayers" ng-change="updatePlayerNumber(selected.numPlayers)">
      </select>
    </div>
  </div>

  <div class="score-board">

    <table class="score-board-table" style="border: none;">
      <thead>
        <tr>
          <th class="heading">Player Name</th>
          <th class="heading" ng-repeat="scoreTypeName in getScoreTypeNames(selected.game)">{{scoreTypeName}}</th>
          <th class="heading">Total Score</th>
          <th class="heading">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="playerCount in playerScores">
          <td class="player-name-cell"><input tabindex="{{$index + 1}}" class="player-name round label" type="text" value="Player {{$index + 1}}"/></td>
          <td class="score-cell" ng-repeat="scoreCount in getScoreTypeNames(selected.game)"><input class="score-field" ng-model="playerScores[$parent.$index][$index]" ng-change="updateTotal($parent.$index)"></input></td>
          <td class="total-score"><h3>{{totalScores[$index]}}</h3></td>
          <td class="score-cell"><div class="remove-player-div"><button class="remove-player-button round" ng-click="removePlayer($index)"><i class="foundicon-minus">Remove Player</i></button></div></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td class="add-player-row" colspan="{{getScoreTypeNames(selected.game).length + 3}}"><div class="add-player-div"><button class="add-player-button round" ng-click="addPlayer()"><i class="foundicon-plus">Add Player</i></button></div></td>
        </tr>
      </tfoot>
    </table>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/underscore/underscore.js"></script>
</body>
</html>
