<!doctype html>
<html lang="en" ng-app="BgScoreTally">
<head>
  <meta charset="utf-8">
  <title>Boardgame Score Tally</title>
  <link rel="stylesheet" href="css/app.css"/>
  <link rel="stylesheet" href="lib/foundation/foundation.min.css"/>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body ng-controller="SelectionCtrl">
  <div>
    <div class="selections">
      <p class="select-header">Game:</p>
      <select id="game_select" ng-model="selected.game" ng-init="selected.game=-1">
        <option ng-repeat="game in selections.games" value="{{$index}}">{{game.label}}</option>
     </select>
    </div>
    <div class="selections">
      <p class="select-header">Num. of Players:</p>
      <select id="num_players_select" ng-model="selected.num_players" ng-init="selected.num_players=0">
        <option ng-repeat="i in selections.numPlayers" value="{{i}}">{{i}}</option>
      </select>
    </div>
  </div>

  <div class="score-board">

    <table border=1>
      <thead>
        <tr>
          <th class="heading">Player Name</th>
          <th class="heading" ng-repeat="scoreTypeName in getScoreTypeNames()">{{scoreTypeName}}</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="i in getSelectedNumPlayers()">
          <td><input tabindex="{{$index + 1}}" class="player-name round label" type="text" value="Player {{$index + 1}}"/></td>
          <td class="score-cell" ng-repeat="i in getScoreTypeNames()" ng-model="value1"><input class="score-field"></input></td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/underscore/underscore.js"></script>
</body>
</html>
