<!doctype html>
<html lang="en" ng-app="BgScoreTally">
<head>
  <meta charset="utf-8">
  <title>Boardgame Score Tally</title>
  <link rel="stylesheet" href="css/app.css"/>
</head>
<body ng-controller="SelectionCtrl">
  <div>
    <div class="selections">
      <p class="select-header">Game:</p>
      <select id="game" ng-model="selectedGame" ng-change="updateGame(selectedGame)" ng-init="selectedGame=0">
        <option ng-repeat="game in selections.games" value="{{game.num_scores}}">{{game.label}}</option>
     </select>
    </div>
    <div class="selections">
      <p class="select-header">Num. of Players:</p>
      <select id="num_players" ng-model="selectedNumPlayers" ng-init="selectedNumPlayers=0">
        <option ng-repeat="i in selections.numPlayers" value="{{i}}">{{i}}</option>
      </select>
    </div>
  </div>

  <div class="score-board">

    <table>
      <tr ng-repeat="i in getSelectedNumPlayers()">
        <td ng-repeat="i in getNumOfScores(selectedGame)" ng-model="value1"><input></input></td>
      </tr>
    </table>
  </div>

  <!-- In production use:
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
  -->
  <script src="lib/angular/angular.js"></script>
  <script src="js/app.js"></script>
  <script src="js/services.js"></script>
  <script src="js/controllers.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/directives.js"></script>
  <script src="lib/underscore/underscore.js"></script>
</body>
</html>
